
.container{
position: center;
}
.main-image{
  background-image:url(../img/bus.jpg);
  background-position: center;
}

.blocvoyage{

  padding: 10px;
  width:800px;
  height: 300px;
  border: solid 2px red;
  border-radius: 15px;
  background-color:rgb(164, 38, 38);
  z-index:1;
  bottom: 0;

  }






@media only screen and (min-width: 750px){






}
