
{{outlet}}




<h1>Organiser un Voyage</h1>
<div class="flex">


<form method="post" action="traitement.php">
  <div>
    <label for="firstname">Nom :</label>
    <input type="text" name="firstname" id="firstname" />

    <label for="lastname">Prénom :</label>
    <input type="text" name="lastname" id="lastname" />

    <br />

  </div>
  <div>
    <label for="email">Email :</label>
    <input type="text" name="email" id="email" />

    <label for="phone">Numero de téléphone :</label>
    <input type="tel" name="telephone" id="telephone" />

  </div>



  <h4>Détail du voyage</h4>
  <h4>Départ</h4>

  <form method="post" action="traitement.php">
    <div>
      <label for="pays">Pays de depart</label>
      <select name="pays" id="pays">
        <option value="Belgique">Belgique</option>
        <option value="allemagne">Allemagne</option>
        <option value="autriche">Autriche</option>
        <option value="bulgarie">Bulgarie</option>
        <option value="espagne">Espagne</option>
        <option value="france">France</option>
        <option value="grece">Gréce</option>
        <option value="italie">Italie</option>
        <option value="luxembourg">Luxembourg</option>
        <option value="paysbas">Pays-Bas</option>
        <option value="pologne">Pologne</option>
        <option value="portugal">Portugal</option>
        <option value="royaume-uni">Royaume-Uni</option>
        <br />
      </select>

      <label for="date">Date de depart</label>
      <input type="date" max="2025-06-25" min="2019-08-18" name="the_date">
      <br />
    </div>
    <label for="time">Heure de depart</label>
    <input type="time" name="wakeup">

    <label for="numbrepassager">Nombre de passager :</label>
    <input type="number" name="passage">
    <div>
      <label for="adress">Adresse :</label>
      <input type="text" name="adress" id="adress" />

      <label for="numero">Numero :</label>
      <input type="number" name="number" id="number" />

    </div>
    <div>
      <label for="zip">Code postal :</label>
      <input type="number" name="zip" id="zip" />

      <label for="city">Ville :</label>
      <input type="text" name="city" id="city" />

    </div>

    <div>
      <h4> Demande particulière :</h4>
      <textarea name="msg" rows="6" cols="40"></textarea> <br />
    </div>










  </form>

</form>


<h4>Détail du voyage</h4>
<h4>Départ</h4>

<form method="post" action="traitement.php">
  <div>
    <label for="pays">Pays de depart</label>
    <select name="pays" id="pays">
      <option value="Belgique">Belgique</option>
      <option value="allemagne">Allemagne</option>
      <option value="autriche">Autriche</option>
      <option value="bulgarie">Bulgarie</option>
      <option value="espagne">Espagne</option>
      <option value="france">France</option>
      <option value="grece">Gréce</option>
      <option value="italie">Italie</option>
      <option value="luxembourg">Luxembourg</option>
      <option value="paysbas">Pays-Bas</option>
      <option value="pologne">Pologne</option>
      <option value="portugal">Portugal</option>
      <option value="royaume-uni">Royaume-Uni</option>
      <br />
    </select>

    <label for="date">Date de depart</label>
    <input type="date" max="2025-06-25" min="2019-08-18" name="the_date">
    <br />


    <label for="time">Heure de depart</label>
    <input type="time" name="wakeup">



  </div>
  <label for="numbrepassager">Nombre de passager :</label>
  <input type="number" name="passage">
  <div>
    <label for="adress">Adresse :</label>
    <input type="text" name="adress" id="adress" />

    <label for="numero">Numero :</label>
    <input type="number" name="number" id="number" />

  </div>
  <div>
    <label for="zip">Code postal :</label>
    <input type="number" name="zip" id="zip" />

    <label for="city">Ville :</label>
    <input type="text" name="city" id="city" />

  </div>

  <div>
    <h4> Demande particulière :</h4>
    <textarea name="msg" rows="6" cols="40"></textarea> <br />
  </div>

  <div class="button">
    <button class="">
      {{#link-to "confirm"}}Envoyer{{/link-to}}
    </button>
  </div>

</form>




</div>


{{outlet}}