
{{outlet}}

<div class="service">
<h1>Services</h1>

<div class="container2">

  <div class="para1">
    <i class="fas fa-wifi fa-2x"></i>
    <h3>Wifi</h3>
    <p>Pour ne pas vous ennuyer, vous obtenez un accès gratuit à notre Wi-fi dans le bus pour pouvoir surfer sur
      internet, chatter avec vos amis et consulter vos e-mails pendant tout le voyage – le tout à vitesse 4G ! Avec
      Travel Cars vous êtes toujours connectés.
    </p>
  </div>


  <div class="para2">
    <i class="fas fa-walking fa-2x"></i>

    <h3>Espace pour les jambes</h3>

    <p>Dans nos cars vous disposez d’une place assise garantie avec beaucoup d’espace pour les jambes.
    </p>
  </div>

</div>
<div class="container3">
  <div class="para3">
    <i class="fas fa-glass-cheers fa-2x"></i>
    <h3>Snacks et boissons</h3>
    <p>Chez Travel Cars vous ne manquerez de rien : des boissons et des petits snacks sont disponibles à bord. Vous
      pouvez les acheter facilement auprès de nos sympathiques chauffeurs.
    </p>
  </div>

  <div class="para4">
    <i class="fas fa-bolt fa-2x"></i>
    <h3>Prises électriques</h3>
    <p>Vous souhaitez surfer sur Internet, chatter ou travailler sur votre ordinateur portable, mais votre batterie est
      vide ? Recherchez tout simplement les prises indiquées par des symboles ou demandez à nos aimables chauffeurs où
      elles se trouvent.
    </p>
  </div>
</div>


<div class="container4">


  <div class="para5">
    <i class="fas fa-toilet fa-2x"></i>
    <h3>Toilettes</h3>
    <p>Encore quelques minutes avant votre arrivée ? Aucune raison de s'inquiéter ! Tous les Travel Cars sont équipés de
      toilettes pour les cas d'urgence.</p>
  </div>

  <div class="para6">
    <i class="fas fa-suitcase fa-2x"></i>
    <h3>Bagages</h3>
    <p>Avec Travel Cars, vous pouvez emporter énormément de bagages ! Il vous suffit de les stocker en soute puis de
      profiter du voyage. Nos chauffeurs seront bien sûr heureux de vous aider pour le chargement. Vous trouverez plus
      d’information dans la rubrique</p>
  </div>

</div>
</div>
