
<nav>
  <div class="logo">
    <a href="../home"><img src="../img/logo.png"   height="80" width="180" alt=""></a>
  </div>
  <div class="button-menu">
    <i class="fas fa-bars"></i>
  </div>

  <ul class="menu">
    <li><a href="#">{{#link-to "organiser"}}Organiser un voyage{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "services"}}Services{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "devis"}}Devis{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "contact"}}Contact{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "login"}}Log-in{{/link-to}}</a></li>

  </ul>

</nav>


<div class="main-image">

</div>




<footer>
   <div class="droite">  <img src="../img/footera.png" height="180" width="600" alt="">
<div class="blanc"></div>

 {{!-- <div class="gauche">  <img src="../img/footerb.png" height="180" width="600" alt="">
</div> --}}
</div>

</footer>
{{outlet}}

<script>
  const btn = document.querySelector('.button-menu');
  const menu = document.querySelector('.menu')
  btn.addEventListener('click', () => {
    menu.classList.toggle('active');
  });

</script>






