
<nav>
  <div class="logo">
    <a href="home"><img src="../img/logo.png"   height="80" width="180" alt=""></a>
  </div>
  <div class="button-menu">
    <i class="fas fa-bars"></i>
  </div>

  <ul class="menu">
    <li><a href="#">{{#link-to "organiser"}}Organiser un voyage{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "services"}}Services{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "devis"}}Devis{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "contact"}}Contact{{/link-to}}</a></li>
    <li><a href="#">{{#link-to "login"}}Log-in{{/link-to}}</a></li>

  </ul>

</nav>


<div class="container">
  <h3>Nos bus longue distance... <br> ...Arrivent près de chez vous!</h3>




<div class="blocvoyage">
  <form method="post" action="traitement.php">
    <div>
      <label for="firstname">Nom :</label>
      <input type="text" name="firstname" id="firstname" />

      <label for="lastname">Prénom :</label>
      <input type="text" name="lastname" id="lastname" />

      <label for="date">Date de depart :</label>
      <input type="date" max="2025-06-25" min="2019-08-18" name="the_date">

      <label for="date">Date de depart :</label>
      <input type="date" max="2025-06-25" min="2019-08-18" name="the_date">


      <label for="numbrepassager">Nombre de passager :</label>
      <input type="number" name="passage">

      <div class="button">
        <button class="">
          {{#link-to "confirm"}}Envoyer{{/link-to}}
        </button>
      </div>

    </div>

  </form>
</div>
</div>





<div class="main-image">

</div>



{{outlet}}

<script>
  const btn = document.querySelector('.button-menu');
  const menu = document.querySelector('.menu')
  btn.addEventListener('click', () => {
    menu.classList.toggle('active');
  });

</script>






